#h-1{
	text-align: center;
}
#header{
	text-align: center;
}
body{
	background: linear-gradient(to right, #5a3f37, #2c7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}
h2{
	font-size: 30px;
	
}

#location{
	text-decoration-color: red;
}
