#h-1{
	text-align: center;
}
#header{
	text-align: center;
}
body{
	background:linear-gradient(red 0%, orange 25%, yellow 50%, green 75%, blue 100%);
	color: white;
}
h2{
	font-size: 30px;
	
}

#location{
	text-decoration-color: red;
}
